/* ------------------------------------- */
/* Video Container */
/* ------------------------------------- */

.chapter-wrapper{
    position: relative;
    left: 50px;
    padding-left: 20px;
    /* padding-top: 15px; */
    transition-duration: 0.5s;
    width: -webkit-calc(100% - 50px);
    height: 85vh;
  /*  border: 1px solid green;*/
}
  
.chapter-sub-Wrapper {
  position: relative;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 56.25%; /* 16:9 */ 
  height: 0;
}

.chapter-sub-Wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-calc(100% - 130px);
  height: -webkit-calc(100% - 80px); 
  width: 185vh;
  height: 80vh;
  transition-duration: 0.5s;
}

#wrapper.menuDisplayed .chapter-wrapper{
  margin-left: 150px;
  width: -webkit-calc(100% - 200px);
}

#wrapper.menuDisplayed .chapter-sub-Wrapper iframe{
  width: 170vh;
}

#wrapper.menuDisplayed .description-wrapper{
  margin-left: 200px;
  width: -webkit-calc(100% - 200px);
}

/* ------------------------------------- */
/* progress-container */
/* ------------------------------------- */

.progress-container{
  background-color: #f8f8f8;
  border-left: 5px solid #13B929;
  width: 85%;
  margin: 3rem auto 0 auto;
  padding: 1.5rem 2rem;
  transition: 0.5s linear all;
}

.progress-container h5{
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  line-height: 1;
  color: #13B929;
  text-align: center;
}

.progress-container h6{
  font-size: 1.5rem;
  margin-top: 2rem;
  line-height: 1;
  margin-left: 2rem;
}

.progress-container button{
  border: none;
  background-color: #13B929;
  color: #f8f8f8;
  transition: 0.2s linear all;
  cursor: pointer;
  margin-left: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 10%;
  width: auto;
}

.progress-container button:hover{
  background-color: #0f8a1f;
}

.progress-navigation{
  margin: 40px 50px 20px auto;
}


/* ------------------------------------- */
/* description-wrapper */
/* ------------------------------------- */

.description-wrapper {
  position: relative;
/*  border: 1px solid blue;*/
  left: 50px;
  top: 50px;
  padding-left: 20px;
  padding-right: 50px;
  transition-duration: 0.5s;
}

.description-sub-wrapper h1{
  font-family: Oswald-Semi-Bold;
  /* padding: 5px; */
  margin-bottom: 30px;
}

.description-sub-wrapper p{
  font-family: Oswald-Light;
  font-size: 20px;
  letter-spacing: 1.2px;
}

.files-wrapper{
  /* border: 2px solid green; */
  margin-left: 30px;
}

.files-wrapper img{
  width: 250px;
  height: auto;
}