body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ------------------------------------- */
/* Whole HTML Body */
/* ------------------------------------- */

@font-face {
  font-family: Oswald-Semi-Bold;
  src: url('./font/Oswald-SemiBold.ttf');
}

body{
  background: #E0E0E0;
  overflow-x: hidden;
}